.hide {
  display: none;
}
.hide + .colon {
  display: none;
}
.duration {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
.duration label {
  display: block;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.duration input {
  display: block;
  font-size: 4rem;
  width: 6rem;
  border: none;
  text-align: right;
  padding: 0 0.2rem;
}
.colon {
  align-items: baseline;
  font-size: 4rem;
  padding: 1.1rem 0.1rem 0;
}
