body {
  font-family: Arial, Helvetica, sans-serif;
}
.hide {
  display: none;
}
.hide + .colon {
  display: none;
}
.duration {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
.duration label {
  display: block;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.duration input {
  display: block;
  font-size: 4rem;
  width: 6rem;
  border: none;
  text-align: right;
  padding: 0 0.2rem;
}
.colon {
  align-items: baseline;
  font-size: 4rem;
  padding: 1.1rem 0.1rem 0;
}
talking-timer {
  display: block;
  margin: 2rem auto;
  max-width: 30rem;
  width: 100%;
}

.timer-wrap {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 60rem) {
  .timer-wrap {
    flex-direction: row;
    align-items: center;
  }
}
